:root {
  --bg: #FFFFFF;                    /* FLORAL */
  --bg-subtle: #FDF7ED;             /* WHITE */
  --bg-inverse: #333333;            /* GRAPHITE */
  --text: #333333;                  /* GRAPHITE */
  --text-muted: #666666;            /* GRAY */
  --text-inverse: #FDF7ED;         /* FLORAL */
  --border: #999999;                /* LIGHT GRAY */
  --accent: #592449;                /* BLACKBERRY CREAM */
  --accent-hover: #481E3B;          /* MIDNIGHT VIOLET */
  --accent-inverse: #FFADBB;        /* CHERRY BLOSSOM */
  --accent-inverse-hover: #FF99AA;  /* COTTON CANDY */
  --card-bg: #ffffff;               /* WHTIE */
  --radius: 0.75rem;                  /* 12px */
  --pill: 10rem;
  --mono: "Recursive", sans-serif; 
  --sans: "Public Sans", sans-serif;
  --data: "Recursive", monospace;
  --heading-weight: 900;
  --body-weight: 400;
  --data-spacing: 0.25em;
  --border: var(--accent) 2px solid;
  --border-inverse: var(--accent-hover) 2px solid;
  --shadow: 0 0 1rem 0 color-mix(in srgb, var(--text) 25%);
}

