.text-scale-400 {font-size: 4em; line-height: 1;}
.text-scale-600 {font-size: 6em; line-height: 1;}
.text-scale-800 {font-size: 8em; line-height: 1;}

.text-color-accent {color: var(--accent);}

.btn {
    padding: 0.25rem 0.5rem;
    background: none;
    border: none;
    transition: background-color 0.5s;
}

.btn.btn-primary {
    background-color: var(--accent);
    color: var(--text-inverse);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--accent-hover);
}