/* Document */
/* html {} */

body {
    background: var(--bg);
    color: var(--text);
}

/* Sectioning */
header {
    background: linear-gradient(var(--accent), var(--bg));
    border-bottom: var(--border);
    height: 10rem;
    display: flex; 
    align-items: flex-end;
}

nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: var(--mono);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 10;
}

nav ul {
    display: flex;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
}

nav :is(a.brand, a.brand:visited) {
    text-decoration: none;
    color: var(--text);
    font-weight: 900;
}

nav :is(a.brand:hover, a.brand:focus) {
    color: var(--accent);
}

nav ul li :is(a, a:visited) {
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--text);
    font-weight: 700;
}

nav ul li :is(a:hover, a:focus) {
    color: var(--accent);
    background: linear-gradient(transparent, color-mix(in srgb, var(--accent-inverse) 25%));
    cursor: pointer;
}

nav .hamburger {display: none;}

nav :is(.hamburger:hover, .hamburger.active, .hamburger:focus) {color: var(--accent-inverse); background: var(--text);}

main {
    --grid-size: 4rem; 
    background: radial-gradient(var(--accent-inverse) 1px, transparent 1px);
    background-size: var(--grid-size) var(--grid-size);
    background-position: center top;
    width: 100%;
    position: relative;
    margin: 0 0 4rem;
}

footer {
    background: color-mix(in srgb, var(--accent) 75%, var(--bg));
    padding: 1rem 0;
    text-align: center;
    color: var(--text-inverse);
}

footer :is(a, a.visited) {
    color: var(--text-inverse);
}

footer :is(a:hover, a:focus) {
    color: var(--accent-inverse);
}

/*
section {}
*/

article {
    position: relative;
}

aside {
    width: 33%;

}

aside div {
    background: color-mix(in srgb, var(--accent-inverse) 25%);
    color: var(text);
    padding: 1.5rem;
    border-radius: var(--radius);
}

aside ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

aside ul :is(a, a:visited) {
    text-decoration: none;
}

aside ul :is(a:hover, a:focus) {
    text-decoration: underline;
    color: var(--text);
}

aside h3 {
    margin: 0.5rem 0;
}

aside p {
    font-size: 0.8em;
}

.inner {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    background: var(--bg);
}

:is(header, footer) .inner {
    background: none;
}

.inner.condensed {
    max-width: 40rem;
}

.inner.padded {
    padding: 4rem 0;
}

.card {
    background: var(--accent);
    color: var(--text-inverse);
    padding: 1.5rem;
    border-radius: var(--radius);
    break-inside: avoid;
    border: var(--border-alt);
    box-shadow: var(--shadow);
}

.card .label {
    background: color-mix(in srgb, var(--accent-inverse) 25%);
    padding: 0.5rem 1rem;
    border-radius: var(--pill);
    font-size: 0.8em;   
    display: inline-block;
}
 
.card :is(a, a:visited) {
    color: var(--accent-inverse);
    text-decoration: none;
}
.card :is(a:hover, a:focus) {
    color: var(--text-inverse);
    text-decoration: underline;
}

@media (width < 768px) {
    nav .hamburger {display: block;}
    nav a.brand {text-align: center; margin: 1rem;}
    nav .nav-row {position: relative;}
    nav ul {display: none; background: var(--text); transition: display 1s; padding: 0; margin: 0; position: absolute; top: 3rem; width: 100%;}
    nav ul.open {display: block;}
    nav ul.open li {display: block; width: 100%;}
    nav ul li :is(a, a:visited) {height: auto; display: block; color: var(--accent-inverse); }
    nav ul li a:hover {color: var(--text); background: var(--accent-inverse);}
    header {height: auto;}
    .flex-row { flex-wrap: wrap;}
    .card {width: 100%;}
    aside {width: 100%;}
}

@media (width < 576px) {
    .inner {padding: 0 2rem;}
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--mono);
    font-weight: 900;
    margin: 0 0 1rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}


/* 
h2 {
    
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}
*/

/* Text content */
p {
    font-family: var(--sans);
    font-size: 1rem;
    margin: 0 0 1rem;
    line-height: 1.5;
}

p:has(.btn) {
    margin: 2rem 0;
}

/*
blockquote {
}

pre {
}

ul {
}

ol {
}

li {
}

dl {
}

dt {
}

dd {
}

*/

hr {
    background: var(--accent-inverse);
}

/* Inline text */


a {
    color: var(--accent);
}

a:hover, a:focus {
    color: var(--accent-hover);

}

a:visited {
    color: var(--accent-hover)
}

/*
strong {
}

em {
}

small {
}

s {
}
*/
code {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--text-muted);
}

/*
kbd {
}

samp {
}

mark {
}

sub {
}

sup {
}

abbr {
}

cite {
}

q {
}

time {
}

*/

/* Forms */

/*
form {
}

label {
}

input {
}

textarea {
}

select {
}

option {
}

*/

button {
    padding: 0.25rem 0.5rem;
    background: none;
    border: none;
}

button:hover, button:focus {
    background: var(--accent-inverse)
}

.btn {  /* a or button with class btn */
    font-weight: 700;
    padding: 1rem 2rem;
    background: none;
    border: none;
    transition: background 0.5s;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.btn.btn-primary {
    background: var(--accent);
    color: var(--text-inverse);
}

.btn-primary::is(:hover, :focus) {
    background: var(--accent-hover);
}

.btn.btn-nav {
    background: none; 
    margin: 0;
    padding: 0.5rem;
}

.btn.btn-nav:is(:hover, :focus) {
    background: var(--text);
    color: var(--accent-inverse);
}

/* 

fieldset {
}

legend {
}

*/

/* Tables */

/*
table {
}

caption {
}

thead {
}

tbody {
}

tfoot {
}

tr {
}

th {
}

td {
}

*/
/* Media */
img {
    width: 100%;
    height: auto;
}

/* 
svg {
}

video {
}

audio {
}

picture {
}

iframe {
}

figure {
}

figcaption {
}

*/

/* Interactive */
/*

details {
}

summary {
}

dialog {
}

*/