/* HERO ELEMENTS */
.hero {
    margin: 4rem 0;
}
.hero p {
    font-size: 1.25em;
    text-align: center;
}

article .hero {
    margin: 2rem 0;
}

article .hero :is(h1, p) {
    text-align: left; 
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.projects .card {
    flex-grow: 1;
}


@media (width < 768px) {
    .hero p {font-size: 1em;}
    .hero .btn {font-size: 0.75em;}
}